<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="900px">
    <form class="mt-60" #clientsFrm="ngForm" (ngSubmit)="salvar()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Dados Pessoais</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-20">
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label>Nome: *</mat-label>
                <input
                  type="text"
                  placeholder="Ex: Tiago Sousa"
                  matInput
                  [(ngModel)]="cliente.nome"
                  name="nome"
                />
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label>Email: *</mat-label>
                <input
                  type="email"
                  placeholder="Digite o seu email"
                  matInput
                  [(ngModel)]="cliente.email"
                  name="email"
                />
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="400px">
              <mat-form-field class="full-width">
                <mat-label>CPF: *</mat-label>
                <input
                  type="text"
                  placeholder="Digite a sua Data de Nascimento"
                  matInput
                  [(ngModel)]="cliente.cpf"
                  name="cpf"
                  mask="000.000.000-00"
                />
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="400px">
              <mat-form-field class="full-width">
                <mat-label>Data Nascimento: *</mat-label>
                <input
                  type="text"
                  placeholder="Digite a sua Data de Nascimento"
                  matInput
                  [(ngModel)]="cliente.dataNascimento"
                  name="dataNascimento"
                  mask="00/00/0000"
                />
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          @if(!atualizando) {
          <button mat-flat-button color="primary" type="submit">
            <mat-icon font-icon="save"></mat-icon>
            Salvar
          </button>
          } @else {

          <button mat-flat-button color="primary">
            <mat-icon font-icon="refresh"></mat-icon>
            Atualizar
          </button>
          }

          <button mat-flat-button color="accent" class="ml-5">
            <mat-icon font-icon="backspace"></mat-icon>
            Limpar
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
