<div class="container">
    <h1>Lista de Compras</h1>
    <form action="" class="add-item-form">
        <input type="text" id="item" placeholder="Digite o nome do item" />
        <button>Adicionar</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th>#</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Arroz</td>
                <td><input type="checkbox" name="" id="" /></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Maça</td>
                <td><input type="checkbox" name="" id="" /></td>
            </tr>
        </tbody>
    </table>
</div>
